/*共通*/
body{
  font-family: serif;
  background-color: rgb(0,0,0);
  transition: 1s;
}
/*ロード画面*/
#loadground{
  z-index: 2;
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: fixed;
  transition: 0.3s;
  text-align: center;
}
#_x32_{
  margin-top: 35vh;
  height: 30vh;
  opacity: 1;
  animation-name: spin;
  animation-duration: 2s;
  animation-timing-function: ease-in-out; 
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  } 100% {
    transform: rotate(720deg);
  }
}
#loadgroundState{
  margin-top: 1rem;
  font-size: 1.5rem;
  color: white;
  animation-name: flashing;
  animation-duration: 2s;
  animation-timing-function: ease-in-out; 
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes flashing {
  0% {
    opacity: 1;
  } 100% {
    opacity: 0;
  }
}



/*rowクラス*/
.row{
  margin: 0;
}
/*ヘッダー*/
#fixedHeader{
  position: fixed;
}
ul{
  display: flex;
  list-style: none;
  color: white;
  padding: 0px;
}
#menuIcon img{
  width: 3rem;
  border-radius: 50%;
  transition: 0.3s;
}
#menuIcon img:hover{
  box-shadow: 0 0 10px rgb(60, 60, 60);
  transform: scale(1.05);
}
.liDiv{
  padding: 0.5rem 1rem 0.5rem 1rem;
}
a{
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
}
.Item{
  text-decoration: none;
  color: white;
  /*font-size: 24px;*/
  }
  .Item-Text{
  position: relative;
  z-index: 1;
  }
  .Item-Text:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;/*テキストからの距離*/
  width: 0%;/*初期状態では下線非表示*/
  height: 1px;/*下線の高さ*/
  background: white;/*下線の色*/
  z-index: -1;
  transition: all 0.2s;/*アニメーション速度*/
  }
  .Item:hover .Item-Text:after{
  width: 100%;/*hover時に表示*/
  }
/*コンテンツ*/
.areaContainer{
  margin-left: auto;
  margin-right: 0px;
  box-shadow: 0 0 10px rgb(60, 60, 60);
}
/*ABOUT*/
#aboutArea{
  background-image: url('../img/photo/nature/index_1.jpg');
  background-size: cover;
  color: white;
}
#toAbout{
  width: auto;
  height: auto;
  padding: 0px;
  position: absolute;
  bottom: 5%;
  left: 25%;
  /* right: 70px;
  transition: 0.2s;
}
#toAbout:hover{
  right: 60px; */
}
/*NEWS*/
#newsArea{
  background-color: rgba(0,0,0,0.1);
  margin-left: 0px;
  margin-right: auto;
}
/*PHOTO*/
#photoArea{
  background-color: rgba(0,0,0,0.1);
  margin-left: auto;
  margin-right: 0px;
}
.photoType{
  padding-left: 0px;
  padding-right: 0px;
}
.photoImgDiv{
  height: 50%;
  width: 100%;
  padding: 10%;
}
.photoImgDiv img{
  object-fit:cover;
  height: 100%;
  width: 100%;
}
.photoCaptionDiv{
  background-color: rgba(230,230,230,0.1);
  box-shadow: 0 0 20px rgb(60, 60, 60);
  width: 100%;
  height: 50%;
  padding: 10%;
}
.photoCaptionDiv a{
  font-size: 2rem;
  background-color: rgba(0,0,0,0);
  padding: 0.2rem 0.3rem;
  border: solid 2px white;
}
.photoCaptionDiv a svg{
  margin-left: -10px;
  color: rgb(100,100,100);
  transition: 0.2s;
}
.photoCaptionDiv a:hover svg{
  margin-left: 0px;
  color: white;
}
.caption{
  padding-left: 1rem;
  color: whitesmoke;
}
/*MUSIC*/
#musicArea{
  background-color: rgba(0,0,0,0.1);
  margin-left: 0px;
  margin-right: auto;
}



/*メモ*/
/*@media (max-width: 1024px) {
   横幅が320px以下の場合に適用するスタイル 
  div#sidebar { width: 100%; }
}
@media (min-width: 1300px) {
   横幅が800px以上の場合に適用するスタイル 
  div#sidebar { width: 240px }
}*/