/*ロード画面*/
#loadground{
  position: absolute;
  top: 0px;
  z-index: 2;
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: fixed;
  transition: 0.3s;
  text-align: center;
}
#_x32_{
  margin-top: 35vh;
  height: 30vh;
  opacity: 1;
  animation-name: spin;
  animation-duration: 2s;
  animation-timing-function: ease-in-out; 
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  } 100% {
    transform: rotate(720deg);
  }
}
#loadgroundState{
  margin-top: 1rem;
  font-size: 1.5rem;
  color: white;
  animation-name: flashing;
  animation-duration: 2s;
  animation-timing-function: ease-in-out; 
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes flashing {
  0% {
    opacity: 1;
  } 100% {
    opacity: 0;
  }
}
/*共通*/
body{
  background-color: black;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/*背景アニメ―ション*/
#particles-js{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: -1;
}
/*コンテンツ*/
#backgroundDiv{
  z-index: 1;
}
#icon{
  position: absolute;
    object-fit:cover;
    /* display: flex; */
    --animate-duration: 3s;
    box-shadow: 0 0 20px rgb(100, 100, 100);
    border-radius: 50%;
}
#toContents{
  position: absolute;
  font-size: 2rem;
  padding: 0.2rem 0.3rem;
  border: solid 2px white;
  text-decoration: none;
  color: white;
  transition-duration: 0.7s;
  transition-delay: 0.3s;
}
/* #toContents:hover {
  color: black;
  border: solid 2px black;
} */

svg{
  margin-left: -10px;
  color: rgb(100,100,100);
  transition: 0.2s;
}
#toContents:hover svg{
  margin-left: 0px;
  color: white;
}
/* svg{
    margin-left: -10px;
    color: rgb(100,100,100);
    transition-property: margin-left, color;
    transition-duration: 0.2s, 0.7s;
    transition-delay: 0s, 0.3s;
}
#toContents:hover svg{
    margin-left: 0px;
    color: black;
} */
/*マウスイベント時使用クラス*/
.mouseOver{
  animation-name: mouseOver;
  animation-duration: 1s;
  animation-timing-function: ease-in; 
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
@keyframes mouseOver {
  0% {
    background-color: rgb(0,0,0);
  } 30% {
    background-color: rgb(0,0,0);
  } 100% {
    background-color: rgb(255,255,255);
  }
}
.mouseLeave{
  animation-name: mouseLeave;
  animation-duration: 1s;
  animation-timing-function: ease-in; 
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
@keyframes mouseLeave {
  0% {
    background-color: rgb(255,255,255);
  } 100% {
    background-color: rgb(0,0,0);
  }
}